{% extends "back-end/layout/_layout-form.html" %}
{% block content %}
<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="course-code"> Course code </label>
		<div class="col-sm-9">
			<input type="text" name="code" id="course-code" value="{{ course.code }}" placeholder="Course code" class="col-xs-10 col-sm-5" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="course-name"> Course name </label>
		<div class="col-sm-9">
			<input type="text" name="name" id="course-name" value="{{ course.name }}" placeholder="Course name" class="col-xs-10 col-sm-5" />
		</div>
	</div>
	<div class="clearfix form-actions">
		<div class="col-md-offset-3 col-md-9">
			<button formaction="/course/add-course/{{course.id}}" formmethod="post" class="btn btn-info">
			<i class="ace-icon fa fa-check bigger-110"></i>
			Submit
			</button> &nbsp; &nbsp; &nbsp;
			{% if course == '' %}
			<button class="btn" type="reset">
			<i class="ace-icon fa fa-undo bigger-110"></i>
			Reset
			</button> {% else %}
			<a class="btn" href="/course/">
			<i class="ace-icon fa fa-cancel bigger-110"></i>
			Cancel
			</a> {% endif %}
		</div>
	</div>
</form>
{% endblock %}
